PORT=3000
REDIS_URL=redis://localhost:6379
NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password
BETTER_AUTH_SECRET=generate_something_secure_here
BETTER_AUTH_URL=http://localhost:3001
DATABASE_URL=postgres://postgres:postgres@localhost:5432/two_rivers_auth
